<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="menu">
        <ul class="menu">
            <li class="menu_logo">Logo</li>
            <li class="menu">@Html.ActionLink("Home", "Home", "Jachty")</li>
            <li class="menu">@Html.ActionLink("Jachty Morskie", "ShowMorskie", "Jachty")</li>
            <li class="menu">@Html.ActionLink("Jachty Srodladowe", "ShowLadowe", "Jachty")</li>
        </ul>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Dane Kontaktowe:
            Imie: XYZ
            Numer Telefonu: 123 456 789</p>
        </footer>
    </div>


</body>
</html>
